:root {
    /*
    These colors are linked to the config. Any changes here won't take effect.
    Try to use them as much as possible, to make recoloring of the UI as easy as possible.
    USAGE:
        rgb(var(--COLOR-DARK))
        rgba(var(--COLOR-DARK), 0.5)
    */
    --COLOR-DARK: 25, 25, 25;
    --COLOR-NORMAL: 75, 75, 75;
    --COLOR-LIGHT: 150, 150, 150;
}